.ab{
    border:1px solid gray !important;
    margin-top:20px;margin-bottom:20px;text-align:center;
}
.dash{
    color:black !important;
    font-size:15px !important;
}
.title{
    color:gray;text-align:left !important; padding:10px;font-size:20px;
}
.dash-img{
    background:url('/media/{{pp.profile_pic}}');
}
h2{
    font-family:'Courier New' !important;   
}